export BASE_CAMERA_SERIAL="REPLACE_ME"
export LEFT_WRIST_CAMERA_SERIAL="REPLACE_ME"
export RIGHT_WRIST_CAMERA_SERIAL="REPLACE_ME"

export ARX5_LEFT_CAN="can3"
export ARX5_RIGHT_CAN="can1"
export PROMETHEUS_RUN_ROOT="${PWD}/runs"
export PROMETHEUS_DATASET_ROOT="${PWD}/datasets"
export ARX4_FFMPEG_BIN="/usr/bin/ffmpeg"
